.cph/.A_Vlad_and_the_Best_of_Five.cpp_d5ea9e957e4c0fa8687f03fd29589cf0.prob
.cph/.B_Vlad_and_Shapes.cpp_530633aa8d80070053dbcf8deccca76f.prob
.cph/.C_Vlad_and_a_Sum_of_Sum_of_Digits.cpp_a63872a3b50bc7f345bb967fe5072785.prob
output/268A.exe
output/A_Vlad_and_the_Best_of_Five.exe
output/B_Vlad_and_Shapes.exe
.cph/.A_Problem_Generator.cpp_328d5e5c029b934da503cda1935fef21.prob
C_Vlad_and_a_Sum_of_Sum_of_Digits.cpp
